{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
        
      <h3 style="background-color:#40E0D0;"> Announcements</h3>

      <h5>Financial Statements</h5>

      <img src="{{url_for('static',filename='Financial-Statements-Example-Opener.png')}}" alt="">
      <br>

      <h5 style="background-color: rgb(93, 212, 13);"> New Location</h5>

      <p>We are expanding our services to the Boston area. We have a new office down there as well as employees we have hired from the
         surrounding area so we do not need to send NH workers. This is expected to more than double our annual revenue which will allow us 
         to increase wages for all workers. If you want to work at the Boston office reaach out to Kilian, the CEO and founder. 
      </p>

      <h5 style="background-color: rgb(93, 212, 13);"> New Tool</h5>
      <p>We now have the wrench 3000 which will allow us to do more jobs. This wrench is very expensive and hard to get so we are very lucky
          that we are able to have this. Despite the costs of this wrench it will result in a significant  increase in productivity which will
          increase our profits.
      </p>
    </div>
    
  </div>
</div>
{% endblock %}