{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>

      <p>We are expanding our services to the Boston area. We have a new office down there as well as employees we have hired from the
         surrounding area so we do not need to send NH workers. This is expected to more than double our annual revenue which will allow us 
         to increase wages for all workers. If you want to work at the Boston office reaach out to Kilian, the CEO and founder. 
      </p>
      <p></p>
    </div>
    
  </div>
</div>
{% endblock %}