{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Directory</h3>

      <img src="{{url_for('static',filename='headshot.jpg')}}" width="300"; height="300" alt="">

      <p>Hello, my name is Kilian and I am the founder and CEO of Paul Plumbers.</p>
      <p>Email: Kilian.OConnell@unh.edu</p>
      <p>Phone: 617-866-0713</p>
      <br>

      <img src="{{url_for('static',filename='dirtyjobs.jpg')}}" width="300"; height="300" alt="">
      <p>Hello, my name is Mike Rowe and I am the director of plumbing operations for Paul Plumbers.</p>
      <p>Email: Mike.Rowe@email.com</p>
      <p>Phone: 617-899-3816</p>
    </div>
    
  </div>
</div>
{% endblock %}