{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>

      <p><u>Below is a list of important work documents</u></p>
      <br>
      <a href="https://generalcontractorlicenseguide.com/new-hampshire-plumbing-license/">NH Licensing Requirements</a>
      <br>
      <a href="https://www.oplc.nh.gov/mechanical-safety-and-licensing-board">NH Mechanical safety & Licensing Board</a>
      <br>
      <a href="https://www.google.com/search?q=plumbing+before+and+after&rlz=1C1CHBF_enUS885US885&sxsrf=APq-WBshh38mH_IFmh7S9BEbBdmx2tFRJA:1647451786741&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi80qGUlMv2AhWxl4kEHZCNAdIQ_AUoAXoECAIQAw&biw=1536&bih=722&dpr=1.25#imgrc=qfvn2wFUV24ZGM">Before and After Photos</a>
    </div>
    
  </div>
</div>
{% endblock %}