{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events</h3>

      <h5>Annual Christmas Party</h5>
      <p>On Friday we are going to have our annual Christmas party at the Hampton Inn in downtown Portsmouth. All employees are welcome. We will
          have a cash bar along with a free meal and appetizers.
      </p>
      <img src="{{url_for('static',filename='party.jpg')}}" alt="">
      <br>
      <h5>Secret Santa</h5>
      <p>On Thursday we have our secret santa event in the office at 5. Remember to bring your gifts!</p>
      <img src="{{url_for('static',filename='Secret.jpg')}}" alt="">
      <br>
      <h5>Tool Check</h5>
      <p>On January 2nd when we get back to work we have a tool check to make sure everyone's gear is good.</p>
      <img src="{{url_for('static',filename='tool.jpg')}}" width="300"; height="250" alt="">
    </div>
    
  </div>
</div>
{% endblock %}