{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3 style="background-color:#40E0D0;"> Welcome</h3>

        <p>This is the official website for Paul Plumbers. We do all plumbing services from faucet and sink repairs to replacing water heaters. Contact us for a quote</p>
        <p></p>
        <img src="{{url_for('static',filename='sink.jpg')}}" width="500"; height="300" alt="">
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3 style="background-color:#40E0D0;"> News</h3>
        <p>New state of the art wrenches, copper pipes and fittings. We also have a new office in Boston to expand our services.</p>
        <p></p>
        <img src="{{url_for('static',filename='boston.jpg')}}" width="500"; height="300" alt="">
      </div>
    </div>
  </div>
{% endblock %}